#progress_bar {
  margin: 10px 0;
  padding: 3px;
  border: 1px solid #000;
  font-size: 14px;
  clear: both;
  opacity: 0;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
}
#progress_bar.loading {
  opacity: 1.0;
}
#progress_bar .percent {
  background-color: #99ccff;
  height: auto;
  width: 0;
}

.error {
  padding: 2%;
  color: red;
}

.banner {
  display: block;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}

body {
    background-color: #ABB2BA;
}

.content {
  background:#FFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
  padding: 5%;
  margin: 1% 5% 5% 5%;
}

.row {
  padding: 1%;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-bottom: 1%;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.choicesBox {
  overflow: auto;
  height: 5%;
  max-height: 400px;
  overflow-y:scroll;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
  padding: 0%;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: rgba(0, 0, 0, .1);
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
